# This file tells Git which files shouldn't be added to source control

.DS_Store
.idea
.vscode
.zed
node_modules
storage

# Added by Apify CLI
.venv

# The Travis index: 368 MB of derived data, rebuilt by bin/build-travis-index.js
.travis-index
